@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --main-color: #ff4580;
    --sub-main-color: #ff78a3;
    --bg-color: #000000;
    --sec-bg-color: #636363a8;
    --text-color: #ffffff;
}

body {
    width: 220px;
    height: 155px;
    background-color: var(--sec-bg-color);
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200;
    height: 200px;
    background-color: var(--bg-color);
    border: 2px solid #ff4580b1;
    gap: 8px;
    transition: all ease 0.3s;
}

span {
    color: var(--main-color);
}

.btn-container p {
    display: flex;
    color: var(--text-color);
    width: 90%;
    justify-content: flex-end;
}

.btn-container h2 {
    font-size: 14px;
    color: var(--text-color);
    margin-top: 5px;
}

.btn-container button {
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    font-weight: 800;
    width: 160px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all ease 0.3s;
}

.btn-container button:nth-child(3) {
    color: var(--main-color);
    background-color: white;
}

.btn-container button:nth-child(3):hover {
    color: var(--main-color);
    background-color: white;
}

.btn-container button:nth-child(3):active {
    background-color: var(--main-color);
    color: white;
}

.btn-container button:hover {
    background-color: rgb(224, 61, 113);
    transform: scale(1.03);
    transition: all ease 0.3s;
}

.btn-container button:active {
    background-color: white;
    color: var(--main-color);
}